<p>Hi {first_name_block},</p>

<p>
  I wanted to quickly introduce myself as your relationship manager at Mercury,
  and congratulate you on your raise &mdash; here's a gift in celebration
  <a href="{gift_link}" target="_blank" rel="noopener noreferrer">here</a>.
</p>

{company_blurb}

<p>
  Typically I support clients evaluating their cash strategy, risk requirements,
  credit, and general finops setup, but I'm available here or
  <a href="https://cal.com/will/30min" target="_blank" rel="noopener noreferrer">live</a>
  for all things Mercury.
</p>
